/* Image url https://cdn-icons-png.flaticon.com/128/6213/6213439.png */
/*********************************FONTS*************************************/
/*  font-family: 'Alex Brush', cursive;
font-family: 'Allura', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Carattere', cursive;
font-family: 'Charmonman', cursive;
font-family: 'Cookie', cursive;
font-family: 'Corinthia', cursive;
font-family: 'Euphoria Script', cursive;
font-family: 'Expletus Sans', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Gwendolyn', cursive;
font-family: 'Merriweather', serif;
font-family: 'Oooh Baby', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Waterfall', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Island Moments', cursive;
font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Mada', sans-serif;
font-family: 'Spinnaker', sans-serif;
font-family: 'Basic', sans-serif;
font-family: 'Average Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Martel', serif; */
/********************************FONTS*************************************/

body {
  background-color:#e0ffff;
  background-image:linear-gradient(to bottom right, #e0ffff , #ffe6f9 );
  font-family: 'Calligraffitti', cursive;
  font-size:23px;
  word-spacing: .175cm;
  font-weight: bold;
  line-height: 2;
}

hr {
  border-color: #A3AAAA;
  border-style: none;
  border-top-style: dotted;
  border-top-width:7px;
  width: 5%;
  margin-top: 1.2cm;
  margin-bottom: 1.2cm;
  transition: all 0.1s ease;
}

hr:hover{
  transform: scaleX(1.8);
  border-color:black;
}

h1 {
  color: #879191;
  font-family: "Segoe Script",serif;
  font-size:55px;
  transition: all 0.1s linear;
}

h1:hover{
  letter-spacing: 1px;
  color: black;
}

h3 {
  color: #66BFBF;
  width:300px;
  font-family: "Segoe Script",serif;
  font-size:30px;
  transition: all 0.1s linear;
}

h3:hover{
  letter-spacing: 1.2px;
  color:cyan;
}

.Hyperlink{
  text-decoration: none;
}
